In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [20]:
train_data=pd.read_csv("train.csv")
test_data=pd.read_csv("test.csv")

In [36]:
test_data.shape

(28000, 784)

In [22]:
x=train_data.drop(["label"],axis=1)
y=train_data["label"]

In [23]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x , y, test_size=0.2)

In [24]:
x_train=tf.keras.utils.normalize(x_train, axis=1)
x_test=tf.keras.utils.normalize(x_test, axis=1)

In [25]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(784,activation='relu'))
model.add(tf.keras.layers.Dense(128,activation='relu'))
model.add(tf.keras.layers.Dense(128,activation='relu'))
model.add(tf.keras.layers.Dense(10,activation='linear'))

In [26]:
model.compile(
    loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
    optimizer='adam'
)

In [27]:
model.fit(x_train,y_train,epochs=4)

Epoch 1/4
1050/1050 [==============================] - 7s 6ms/step - loss: 0.3042
Epoch 2/4
1050/1050 [==============================] - 7s 6ms/step - loss: 0.1130
Epoch 3/4
1050/1050 [==============================] - 7s 6ms/step - loss: 0.0737
Epoch 4/4
1050/1050 [==============================] - 7s 6ms/step - loss: 0.0541

In [28]:

loss = model.evaluate(x_test, y_test)
print(loss)

263/263 [==============================] - 1s 2ms/step - loss: 0.1055
0.10548681765794754

In [29]:
test_data.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
sub=model.predict(test_data)

875/875 [==============================] - 2s 2ms/step

In [31]:

submission=np.argmax(sub,axis=1)

In [32]:
submission = pd.Series(submission,name="Label")

In [33]:
submissionfinal = pd.concat([pd.Series(range(1,28001),name="ImageId"),submission],axis=1)

In [34]:
submissionfinal.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3

In [35]:
submissionfinal.to_csv('submission.csv',index=False)